# Dependencies
node_modules/
frontend/node_modules/

# Dataset
datasets/

# Models
models/

# Python
venv/
.venv/
env/
__pycache__/
*.py[cod]
*.pyo

# macOS
.DS_Store

# Environment variables
.env
.env.*